*{
    margin: 0;
}
.grid{
    height: 100vh;
    background: #000;
    display: grid;
    //grid-template-columns: 100px 100px 100px;
   // grid-template-columns: repeat(3,100px);
   grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100px 100px 100px;
    grid-gap: 10px;
}

.s{
    background: #d4b714;
    color: white;
}

.header{
    grid-column-start:1 ;
    grid-column-end:3 ;

}